body,
p,
ul {
    margin: 0
}

.menu,
body {
    position: relative
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

a {
    background: 0 0
}

*,
a:active,
a:hover {
    outline: 0
}

body {
    line-height: normal;
    color: #343434;
}

ul {
    list-style-type: none;
    padding: 0
}

body {
    font-size: 16px;
    min-width: 320px;
    font-family: Roboto, sans-serif;
}

img {
    max-width: 100%;
}

svg {
    overflow: hidden;
}

select:-moz-focusring,
a:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

select {
    outline: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("../fonts/select-triangle.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 10px;
}

select:hover {
    background-size: 10px 10px;
    background-position: right 10px center;
}

select:focus {
    outline: none !important;
    outline-color: transparent;
    outline-width: 0;
}

select::-ms-expand {
    display: none !important;
    background: none !important;
    position: fixed;
    border: none !important;
    outline: none !important;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
select::-moz-focus-inner,
option::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"]>input[type="button"]::-moz-focus-inner {
    border: none;
}

*:not(#fake) {
    outline: none;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
    border: none;
}

*:focus,
*:visited,
*:active,
*:hover {
    outline: 0 !important;
}

a,
a:focus,
a:visited,
a:active,
a:hover {
    outline: 0 !important;
}

*::-moz-focus-inner {
    border: 0;
    outline: none;
}

.block {
    width: 480px;
    margin: 0 auto;
}

.wrapper {
    padding: 0 10px;
}

.stroke {
    display: inline-block;
}

/*******************************************************************************/
.fix {
    position: fixed;
    width: 480px;
    max-height: 100%;
    top: 0;
    left: calc(50% - 240px);
    z-index: 11;
    min-height: 39px;
    overflow: auto;
}

.fix__line {
    position: fixed;
    top: 0;
    width: 480px;
    z-index: 1;
    left: calc(50% - 240px);
}

.fix__price {
    background: #d4d4d4;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

.fix__btn:hover {
    color: #a1c45e;
}

.fix__btn {
    background: 0 0;
    border: none;
    font-size: 30px;
    line-height: .7;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    position: absolute;
    top: 7px;
    right: 5px;
    color: #294731;
    cursor: pointer;
}

.menu {
    margin-top: 38px;
    border: none;
}

.menu {
    display: block;
    width: 100%;
    background: #f0f0f0;
    border-top: 1px solid #fff;
    /*top: 32px;*/
    padding-bottom: 5px;
}

.menu--hidden {
    display: none;
}

.menu li a {
    display: block
}

.menu li a {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    font-size: 16px;
    color: #444;
    text-decoration: none;
    font-weight: 500;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    text-transform: uppercase
}

.fix__price .x_price_current,
.fix__price .x_currency {
    font-weight: bold;
}

.menu li a:hover {
    background: rgba(56, 195, 189, .29)
}

/*******************************************************************************/
.first {
    padding-top: 50px;
}

.first__logo {
    text-align: center;
    font-weight: 900;
    font-size: 60px;
}

.first__text {
    font-size: 22px;
    text-align: center;
    margin: 10px 0 0;
}

.text__bold {
    font-weight: 900;
}

.green {
    color: #294731;
}

.pack {
    width: 300px;
    margin: 32px auto;
}




.first__body__form-pack__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative
}


.first__body__form-pack__pack {
    height: 203px
}

.shadow {
    -webkit-box-shadow: 14px 0 53px 0 rgba(135, 183, 183, .96);
    box-shadow: 14px 0 53px 0 rgba(135, 183, 183, .96);
    width: 245px;
    height: 163px;
    display: block;
    position: absolute;
    top: 10px;
    left: 2px;
    z-index: -1
}

.form {
    position: relative;
    background: #fff;
    width: 442px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .07), 0 0 0 6px #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .07), 0 0 0 6px #fff;
    border-radius: 3px;
    padding: 0 10px 18px
}

.form__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.form__price__old {
    color: #777;
    padding: 15px 0 0;
    width: 102px;
    margin-left: 70px;
}

.form__price__old__text {
    text-align: center;
    font-size: 13px;
    margin: 0 0 7px
}

.form__price__old__value {
    color: #999;
    font-size: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    line-height: 28px
}

.form__price__old__value:after,
.form__price__old__value:before {
    height: 1px;
    width: 86%;
    background: #d32f19;
    content: "";
    position: absolute;
    top: 11px;
    left: 10px
}

.form__price__old__value:before {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg)
}

.form__price__old__value:after {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg)
}

.form__price__old__value .currency {
    font-size: 16px
}

.form__price__new {
    color: #a1c45e;
    padding: 15px 0 0;
    width: 102px;
    margin-left: 40px
}

.form__price__new__text {
    text-align: center;
    font-size: 13px;
    margin: 0 0 7px;
    color: #777
}

.form__price__new__value {
    font-size: 34px;
    font-weight: 900;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    line-height: 28px
}

.form__price__new__value .currency {
    font-size: 16px
}

.form__lastpack {
    font-size: 16px;
    text-align: left;
    margin: 16px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%
}

.form .discount {
    background: url(../images/discount.png) no-repeat;
    width: 75px;
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000000;
    font-size: 28px;
    font-weight: 900;
    position: absolute;
    top: 19px;
    left: 20px
}

.procent-mob {
    margin: 6px 0 0 -5px;
}

.attention {
    width: 387px;
    margin: 8px auto 0;
    padding-left: 89px;
    font-size: 17px;
    color: #a1c45e;
    font-weight: 700;
}

.form__lastpack .orange {
    color: #83bf10;
    position: relative
}

.form__lastpack .orange:after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 30px;
    background: #ababab;
    right: -27px;
    top: 5px
}

.form form input,
.name-i,
.phone-i {
    position: relative;
    width: 100%
}

.lastpack__cls {
    font-size: 30px;
    margin-right: 15px;
    font-weight: 700
}

.count {
    font-size: 15px
}

.form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    position: relative
}

.form form input,
.form form select {
    width: 100%;
    font-size: 16px;
    color: #212121;
    padding: 14px 10px 14px 53px;
    border: none;
    background-color: #f1f1f1;
    margin: 14px 0 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .04);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .04);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.form form select {
    padding-right: 20px;
}

.country-i:before,
.name-i:before,
.phone-i:before {
    display: block;
    position: absolute;
    z-index: 2;
    content: ''
}

.country-i:before {
    background: url(../fonts/world.svg) center no-repeat;
    background-size: 22px;
    width: 26px;
    height: 30px;
    top: 23px;
    left: 15px
}

.name-i:before {
    background: url(../fonts/name.svg) center no-repeat;
    width: 19px;
    height: 25px;
    top: 24px;
    left: 17px
}

.phone-i:before {
    background: url(../fonts/phone.svg) center no-repeat;
    background-size: 22px;
    width: 26px;
    height: 30px;
    top: 23px;
    left: 15px
}

.title-properties {
    line-height: 1;
    font-size: 30px;
    text-align: center;
    margin: 0 auto 30px;
}

.form form input:focus,
.form form input:hover,
.form form select:focus,
.form form select:hover {
    -webkit-box-shadow: inset 0 0 10px 3px #dad6d6;
    box-shadow: inset 0 0 10px 3px #dad6d6;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.protect {
    color: #666;
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.protect span {
    margin-left: 8px
}

.order_btn {
    width: 100%;
    background: #a1c45e;
    height: 56px;
    border-radius: 5px;
    font-weight: 700;
    padding: 0;
    font-size: 30px;
    line-height: 17px;
    cursor: pointer;
    color: #fff;
    position: relative
}

.order_btn:hover {
    background: #83bf10;
}

.order_btn span {
    font-size: 17px;
    display: inline-block
}

.menu li a.menu_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    width: 350px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none;
    background: #a1c45e;
    margin: 0 auto 15px;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s
}

.menu li a.menu_btn:hover {
    background: #83bf10;
}

.first__body__form-pack__form:after {
    display: none
}

.order-curse {
    margin: 13px 0;
    text-align: center;
}


/*NEW*/

.block {
    padding: 25px 0;
}

.first {
    padding-top: 50px;
}

.first {
    background: #f3f5ee;
}

.main__title {
    font-size: 32px;
    line-height: 1.1;
    font-weight: 900;
    color: #a1c45e;
    text-align: center;
    max-width: 440px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.prod-main {
    max-width: 250px;
    margin: 0 auto 50px;

    position: relative;
}

.tabs-main {
    position: absolute;
    max-width: 200px;
    bottom: -30px;
    left: -100px;
    transform: scale(-1, 1);
}


.benefit__wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    -ms-align-items: center;
    align-items: center;
}

.benefit__girl {
    max-width: 240px;
    flex-shrink: 0;
}

.benefit__girl img {
    display: block;
}

.benefit.block {
    padding-bottom: 0;
}

.benefit__item {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;

    margin-bottom: 30px;
    padding-left: 10px;
    position: relative;
}

.benefot__item:last-child {
    margin-bottom: 0;
}

.benefit__item:before {
    content: '';
    width: 36px;
    height: 36px;
    background: #a1c45e url(../fonts/check.svg) no-repeat center center / 66%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translateY(-50%);

}


.properties {
    /*background: #f3f5ee;*/
    background: #fbfff5;
}

.properties__wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: flex-start;
    align-items: flex-start;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.properties__item {
    flex-shrink: 0;
    width: 200px;
    margin: 0 10px 20px;
    text-align: center;
}

.properties__img {
    margin-bottom: 5px;
}

.properties__img img {
    display: block;
    margin: 0 auto;
}

.properties__text {
    font-size: 17px;
}

.properties__item:nth-last-child(-n+2) {
    margin-bottom: 0;
}

.hard {
    /*background: #fbfff5;*/
    background: #f3f5ee;
}

.hard__item {
    width: 400px;
    margin: 40px auto;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 0 0;
}

.hard__item:last-child {
    margin: 0 auto;
}

.hard__img {
    position: relative;
}

.hard__img img {
    display: block;
    border-radius: 5px 5px 0 0;
}

.hard__cup {
    max-width: 150px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.hard__power {
    max-width: 150px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.hard__info {
    padding: 10px 20px 20px;
    background: #fff;
}

.hard__name {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.hard__text {
    text-align: center;
    font-size: 17px;
    line-height: 1.4;
}

.hard__wrap {
    margin-bottom: 20px;
}

.hard__bottom {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #343434;
}

.title-component {
    font-size: 30px;
    text-align: center;
    margin: 0 auto 30px;
}

.title {
    line-height: 1;
}

.title-hard {
    font-size: 30px;
    text-align: center;
    margin: 0 auto 60px;
}

.component__item {
    width: 400px;
    margin: 0 auto 70px;
}

.component__item:last-child {
    margin-bottom: 45px;
}

.component__top {
    background: #f3f5ee;
    border-radius: 50px;
    padding: 15px 30px;

    margin-bottom: 15px;

    position: relative;
}

.component__top:after {
    content: '';
    width: 95px;
    height: 82px;
    background: url(../images/tea.png) no-repeat center center / contain;
    position: absolute;
    top: -20px;
    right: 10px;
}

.component__top-guarana:after {
    width: 94px;
    height: 75px;
    background: url(../images/guarana.png) no-repeat center center / contain;
    top: -8px;
}

.component__name {
    font-size: 21px;
    line-height: 1;
    font-weight: 500;

    margin-bottom: 5px;
}

.component__reception {
    font-size: 17px;
    line-height: 1;
}

.component__text {
    font-size: 17px;
    line-height: 1.3;
    text-align: center;
    overflow: hidden;
    height: 44px;
}

.component__text.active {
    height: auto;
}

.component__info {
    position: relative;
}

.component__plus {
    width: 30px;
    height: 30px;
    background: #f3f5ee;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -44px;
    cursor: pointer;
}

.order_btn-component {
    display: block;
    text-align: center;
    line-height: 56px;
    margin: 65px auto 0;
    width: 300px;
}

.title-reviews {
    font-size: 30px;
    line-height: 1;
    text-align: center;
    margin: 0 auto 15px;
}

.reviews.block {
    padding-bottom: 5px;
}

.reviews__wrap {
    width: 360px;
    margin: 0 auto;
}

.reviews__item {
    width: 360px;
    margin: 0 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 6px;
}

.reviews__info {
    padding: 0px 10px 15px;
}

.reviews__img img {
    display: block;
}

.reviews__img {
    position: relative;

    margin-bottom: 20px;
}

.reviews__before {
    background: #d6dfc6;
    text-align: center;
    width: 130px;
    font-weight: 500;
    font-size: 16px;
    padding: 5px;
    position: absolute;
    bottom: -10px;
    left: 6%;
}

.reviews__after {
    background: #accf6a;
    text-align: center;
    width: 130px;
    font-weight: 500;
    font-size: 16px;
    padding: 5px;
    position: absolute;
    bottom: -10px;
    right: 6%;
}

.reviews__name {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 8px;
}

.reviews__quotes {
    font-size: 18px;
    font-weight: 500;

    margin-bottom: 8px;
}

.review__text {
    font-size: 16px;
    line-height: 1.4;
}

.slick-arrow:before {
    content: '';
}

.slick-arrow {
    width: 50px;
    height: 50px;
    background: #fff url(../fonts/reviews-arrow.svg) no-repeat center center / 70%;
    box-shadow: 0px 0px 10px 0px #accf6a;
    z-index: 3;
    border-radius: 50%;
    transition: 0.3s;
    top: 170px;
    transform: translate(0, 0);
}

.reviews__slider .slick-arrow:hover,
.reviews__slider .slick-arrow:focus {
    background: #fff url(../fonts/reviews-arrow.svg) no-repeat center center / 70%;
    box-shadow: 0px 0px 10px 2px #accf6a;
    color: #000;
}

.slick-next {
    transform: translate(0, 0) scale(-1, 1);
}

.use {
    background: #f3f5ee;
}

.title-use {
    font-size: 30px;
    line-height: 1;
    text-align: center;
    margin: 0 auto 30px;
}

.use__item {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.nowrap {
    white-space: nowrap;
}

.use__item:last-child {
    margin-bottom: 0;
}

.use__text {
    font-size: 19px;
    margin: 0 auto;
    max-width: 300px;
}

.use__img {
    width: 300px;
    margin: 0 auto 10px;
    position: relative;
}

.use__img img {
    display: block;
}

.use__tabs {
    max-width: 180px;
    position: absolute;
    bottom: 0;
    left: -30px;
}

.use__tab {
    max-width: 180px;
    position: absolute;
    bottom: -10px;
    right: -10px;
}

.use__prod {
    max-width: 140px;
    position: absolute;
    bottom: -10px;
    right: 0px;
}

.order__wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-align-items: flex-start;
    align-items: flex-start;
    justify-content: center;
}



.order__item {
    width: 160px;
    text-align: center;
    margin: 10px 20px;
}

.order__item:nth-child(n+3) {
    margin-bottom: 0;
}

.order__img {
    margin: 0 auto 5px;
}

.order__text {
    font-weight: 500;
    font-size: 16px;
}

.title-order {
    font-size: 30px;
    line-height: 1;
    text-align: center;
    margin: 0 auto 15px;
}

.last {
    background: #f3f5ee;
}

.title-last {
    font-size: 32px;
    line-height: 1.1;
    font-weight: 900;
    color: #a1c45e;
    text-align: center;
    max-width: 440px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.form-popup {
    margin: 0 auto;
    background: #fff;
    box-shadow: none;
    padding-bottom: 5px;
}

.first__body__form-pack__form-popup .protect {
    margin-top: 0;
}

.first__body__form-pack__form-popup {
    background: #fff;
    border-radius: 5px;
}

/*footer*/

.footer__logo {
    max-width: 60px;
    margin: 0 auto 5px;
}

.footer__privacy {
    text-align: center;
    text-decoration: none;
    color: grey;
    display: block;
    margin: 0 auto;
}

.footer__privacy:hover {
    text-decoration: underline;
}

.star {
    display: none;
}

.order-curse {
    display: none;
}

.footer.block {
    padding: 5px 0;
}

.ever-popup__inner {
    transform: translateY(15px);
    padding-top: 40px !important;
}